
@font-face {
    font-family: 'Iosevka';
    src: url('/fonts/Iosevka-Regular.ttc') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Iosevka';
    src: url('/fonts/Iosevka-Light.ttc') format('truetype');
    font-weight: light;
    font-style: normal;
    font-display: swap;
}


:root {
    /* BASE COLOR PALETTE 
     #BBCEA8 Celadon
     #0A090C Night
     #07393C Midnight Green
     #2C666E Caribbean Current
     #DE6B48 Burnt Sienna -> #ECAB98 Melon
    */

    /* Color palette */
    --accent: #ababab;
    --accent-light:  #bdbdbd;
    --accent-dark:  #9b9b9b;
    --text-color:  #181818;
    --background-color: #e7e7e7;
    --focus:  #383838;
    --focus-dark:  #282828;
    --accent-gradient: linear-gradient(
        45deg,
        var(--accent),
        var(--accent-light) 60%
    );
}

html {
    font-family: 'Iosevka', system-ui, serif;
    background: var(--background-color);
    background-size: 224px;
}
body {
    margin: 0;
}

main {
    margin: auto;
    max-width: 50%;
    color: var(--text-color);
    font-size: 20px;
    line-height: 1.6;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
}

code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
}
