---
import Layout from '../layouts/SiteLayout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Michael Kelly Website">
	<p>
		hello. I am Michael Kelly, and this is my website.
	</p>
	<p>
		I am a software developer, data scientist, game designer, pixel artist, and enthusiast of many other hobbies.
	</p>
	<p>
		I make things. Check out my work!
	</p>
</Layout>

<style>
</style>
