---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import Card from '../components/Card.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---
<BaseLayout title={title}>
	<div page-wrapper>
		<div class="topbar">
			<div class="top-links">
				<Card
					href="/posts-home"
					title="Posts"
				/>
				<Card
					href="/"
					title="Games"
				/>
				<Card
					href="/"
					title="About"
				/>
				<Card
					href="/"
					title="Contact"
				/>
			</div>
			<h1>Michael Kelly</h1>
		</div>
		<div class="content">
			<slot/>
		</div>
	</div>
</BaseLayout>
<style>
	.top-links {
		display: flex;
		flex-flow: row;
		justify-content: center;
	}
	.topbar {
		padding:0 2rem 0 2rem;
		display: flex;
		flex-flow: column;
		justify-content: flex-start;
	}
	.content {
		width:60%;
		margin:4rem auto 0 auto;
	}
</style>
